<html>
  <head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>

  <body>
    <%= plot_body %>
    <button id="plotly-ex-save-button">Save as SVG</button>
    <a id="plotly-ex-download-link" download="test2.svg" style="display:none;" />
    <script>
      document.getElementById("plotly-ex-save-button").onclick = () => {
        let graph_body   = document.querySelector('[id^="plotly-ex-body-"]')
        let graph_width  = graph_body.clientWidth
        let graph_height = graph_body.clientHeight
        Plotly.toImage(graph_body, {format: 'svg', width: graph_width, height: graph_height})
        .then((url) => {
          let download_link = document.getElementById("plotly-ex-download-link")
          download_link.href = url
          download_link.click()
        })
      }
    </script>
  </body>
</html>
